<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bgs.reception.mapper.ReportingDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bgs.reception.pojo.ReportingData">
        <id column="id" property="id" />
        <result column="actualTableCount" property="actualTableCount" />
        <result column="newCustomers" property="newCustomers" />
        <result column="oldCustomers" property="oldCustomers" />
        <result column="intentionalCustomers" property="intentionalCustomers" />
        <result column="premium" property="premium" />
        <result column="activityTime" property="activityTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, actualTableCount, newCustomers, oldCustomers, intentionalCustomers, premium, activityTime
    </sql>

</mapper>
